@import "tailwindcss";

@layer base {
  body {
    background-color: #09090b;
    color: #fafafa;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
  }
}

/* Custom Sleek Dark Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #18181b;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 9999px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}
